     <footer class="bg--dark footer-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            {our.name}
                            <p>
                                <em></em>
                            </p>
                            <ul class="footer__navigation">
                                <li>
                                    <a href="#">
                                        <span>Inicio</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Propuesta</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Diseño</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Precios</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Ver más</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-4 col-sm-8">
                        <!--
                            <h6></h6>
                            <div class="twitter-feed">
                                <div class="tweets-feed" data-feed-name="mrareweb" data-amount="0"
                                > Somos la solución preferida de Chile para el uso de sitios web </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1 col-sm-12">
                        
                            <h6>Suscribirse</h6>
                            <p>
                                Recibe un correo con nuestros nuevos diseños bi-mestrales.
                            </p>
                            <form class="form--merge form--no-labels" action="http://mrareco.createsend.com/t/d/s/kieth/" method="post" id="subForm" data-error="Please fill all fields correctly." data-success="Thanks for signing up! Please check your inbox for confirmation email.">
                                <p>
                                    <label for="fieldEmail">Email</label>
                                    <br />
                                    <input class="col-md-8 col-sm-6 validate-required validate-email" id="fieldEmail" name="cm-kieth-kieth" type="email" required />
                                </p>
                                <p>
                                    <button type="submit">Ingresa</button>
                                </p>
                            </form>
                        -->
                            <h6>Conecta con Nosotros</h6>
                            <ul class="social-list">
                                <li>
                                    <a href="#">
                                        <i class="socicon-facebook"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
                <div class="footer__lower">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 text-center-xs">
                                <span class="type--fine-print">&copy; Copyright
                                    <span class="update-year">2017</span>  - Todos los derechos reservados</span>
                            </div>
                            <div class="col-sm-6 text-right text-center-xs">
                                <a href="#top" class="inner-link top-link">
                                    <i class="interface-up-open-big"></i>
                                </a>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </div>
            </footer>

        </div>
        <script src="static/js/jquery-2.1.4.min.js"></script>
        <script src="static/js/isotope.min.js"></script>
        <script src="static/js/ytplayer.min.js"></script>
        <script src="static/js/easypiechart.min.js"></script>
        <script src="static/js/owl.carousel.min.js"></script>
        <script src="static/js/lightbox.min.js"></script>
        <script src="static/js/twitterfetcher.min.js"></script>
        <script src="static/js/smooth-scroll.min.js"></script>
        <script src="static/js/scrollreveal.min.js"></script>
        <script src="static/js/parallax.js"></script>
        <script src="static/js/scripts.js"></script>
    </body>
</html>