<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="root/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="root/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <title>{user.company.webpage.title_1}</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <link href="root/assets/css/bootstrap3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="root/assets/css/gsdk.css" rel="stylesheet"/>
    <link href="root/assets/css/examples.css" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"> 
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300' rel='stylesheet' type='text/css'>  
    <link href="root/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />  
</head>


<body class="contact-us">

<nav class="navbar navbar-inverse navbar-transparent navbar-fixed-top" role="navigation">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle">
        <span class="sr-only"></span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
      <a class="navbar-brand" href=""></i> {user.company.name}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse">
      <ul  class="nav navbar-nav navbar-right">
            <li>
                <a href="#{user.company.webpage.menu_1}">
                     {user.company.webpage.menu_1}
                </a>
            </li>
            <li>
                <a href="#{user.company.webpage.menu_2}">
                     {user.company.webpage.menu_2}
                </a>
            </li>
            <li>
                <a href="#{user.company.webpage.menu_3}">
                    {user.company.webpage.menu_3}
                </a>
            </li>
            <li><a href="#{user.company.webpage.menu_4}" class="btn btn-round btn-default">{user.company.webpage.menu_4}</a></li>
       </ul>      
    </div><!-- /.navbar-collapse -->
  </div>
</nav>


<div class="wrapper">


<div class="parallax filter-black">
<video autoplay loop id="video-background" muted style="width:100%">
  <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761" type="video/mp4">
</video>        <div class="small-info">
            <h1>{user.company.name}</h1>
            <h3>{user.company.webpage.tag_line_1}</h3>
        </div>
    </div>


<!--    
<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="root/assets/video/MP4/video.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="root/assets/video/WEBM/video.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="root/assets/video/pic/video.jpg" alt="">
        </div>
    </div>
</div>
-->

    <div class="section" id="#{user.company.webpage.menu_3}">
        <div class="container">
<!--         what is row -->
            <div class="row tim-row">
                <h1 class="text-center"> {user.company.webpage.summary_title_1} </h1>
                <legend></legend>
                <div class="col-md-8 col-md-offset-2">
                    <h3>
                    {user.company.webpage.summary_content_1}
                    <h3>
                </div>
                
            </div>
         </div>   
    <div>     

    <div class="section" id="{user.company.webpage.menu_1}">
        <div class="container">
            <div class="clients-presentation">
                <div class="row">
                    <div class="col-md-3">
                       <div class="info">
                            <div class="icon">
                                <i class="pe-7s-note2"></i>
                            </div>
                            <div class="description">
                                <h3> {user.company.webpage.proposition_title_1} </h3>
                                <p class="text-muted">{user.company.webpage.proposition_content_1} </p>
                            </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                       <div class="info">
                            <div class="icon">
                                <i class="pe-7s-scissors"></i>
                            </div>
                            <div class="description">
                                <h3> {user.company.webpage.proposition_title_2} </h3>
                                <p class="text-muted">{user.company.webpage.proposition_content_2} </p>
                            </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                       <div class="info">
                            <div class="icon">
                                <i class="pe-7s-tools"></i>
                            </div>
                            <div class="description">
                                <h3> {user.company.webpage.proposition_title_3} </h3>
                                <p class="text-muted">{user.company.webpage.proposition_content_3}</p>
                            </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="info">
                            <div class="icon">
                                <i class="pe-7s-paint"></i>
                            </div>
                            <div class="description">
                                <h3> {user.company.webpage.proposition_title_4} </h3>
                                <p class="text-muted">{user.company.webpage.proposition_content_4} </p>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div> <!-- end section meet our clients -->


<div class="section section-gray" id="{user.company.webpage.menu_2}">
            <div class="container">
                <div class="big-info">
                    <h3 class="text-center">{user.company.webpage.service_title_1} <br>
                        <small>{user.company.webpage.service_subtitle_2}</small>
                    </h3>
                </div>
                <div class="row">
                     <div class="col-md-4">
                    <div class="card card-price">
                        <div class="content">
                            <h6 class="category">{user.company.webpage.pricing_title_1}</h6>
                            <!--<h1 class="price">
                                <small></small>
                            </h1>-->
                            <ul class="list-unstyled list-lines">
                                <li>
                                    <i class="fa fa-comments"></i> <b></b> {user.company.webpage.pricing_content_1}
                                </li>
                                <li>
                                    <i class="fa fa-magic"></i> <b></b> {user.company.webpage.pricing_content_2}
                                </li>
                                <li>
                                    <i class="fa fa-male"></i> <b></b> {user.company.webpage.pricing_content_3}
                                </li>
                                <li>
                                    <i class="fa fa-level-up"></i> <b></b> {user.company.webpage.pricing_content_4}
                                </li>
                            </ul>
                        </div>
                        <div class="footer">
                           <button type="button" class="btn btn-info btn-round btn-block">{user.company.webpage.action}</button>
                        </div>
                    </div> <!-- end card -->
                </div><br>
                <div class="col-md-4">
                    <div class="card card-price card-price-best-deal">
                        <div class="content">
                            <h6 class="category">{user.company.webpage.pricing_title_2}</h6>
                            <!--<h1 class="price">
                                <small></small>
                            </h1>-->
                            <ul class="list-unstyled list-lines">
                                <li>
                                    <i class="fa fa-comments"></i> <b></b> {user.company.webpage.pricing_content_1}
                                </li>
                                <li>
                                    <i class="fa fa-magic"></i> <b></b> {user.company.webpage.pricing_content_2}
                                </li>
                                <li>
                                    <i class="fa fa-male"></i> <b></b> {user.company.webpage.pricing_content_3}
                                </li>
                                <li>
                                    <i class="fa fa-dollar"></i> <b></b> {user.company.webpage.pricing_content_4}
                                </li>
                                <li>
                                    <i class="fa fa-level-up"></i> <b></b> {user.company.webpage.pricing_content_5}
                                </li>
                                 <li>
                                    <i class="fa fa-phone"></i> <b></b> {user.company.webpage.pricing_content_6}
                                </li>
                            </ul>
                        </div>
                        <div class="footer">
                           <button type="button" class="btn btn-info btn-round btn-fill btn-block">{user.company.webpage.action}</button>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="col-md-4">
                    <div class="card card-price">
                        <div class="content">
                            <h6 class="category">{user.company.webpage.pricing_title_3}</h6>
                            <!-- <h1 class="price">
                                <small></small>
                            </h1> -->
                             <ul class="list-unstyled list-lines">
                                <li>
                                    <i class="fa fa-comments"></i> <b></b> {user.company.webpage.pricing_content_1}
                                </li>
                                <li>
                                    <i class="fa fa-magic"></i> <b></b> {user.company.webpage.pricing_content_2}
                                </li>
                                <li>
                                    <i class="fa fa-male"></i> <b></b> {user.company.webpage.pricing_content_3}
                                </li>
                                <li>
                                    <i class="fa fa-level-up"></i><b></b> {user.company.webpage.pricing_content_4}
                                </li>
                            </ul>
                        </div>
                        <div class="footer">
                           <button type="button" class="btn btn-info btn-round btn-block">{user.company.webpage.action}</button>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div> <!-- end row -->
        </div>
    </div>


    <div class="section section-testimonials" id="{user.company.webpage.menu_3}">
        <div class="container">
            <h2 class="section-title">{user.company.webpage.customer_title_1}</h2>
             <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <div class="row">
                            <div class="col-md-6">
                                 <div class="card card-plain">
                                    <div class="content">
                                        <a target="_blank" href="http://www.creative-tim.com/product/get-shit-done-pro">
                                            <h4 class="title">{user.company.webpage.customer_content_1}</h4>
                                        </a>
                                         <div class="footer">
                                            <div class="author">
                                                <a class="card-link" href="#">
                                                   <img src="root/assets/img/default-avatar.png" alt="..." class="avatar">
                                                   <span> {user.company.webpage.customer_content_name_1}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end card -->
                             </div>
                             <div class="col-md-6">
                                 <div class="card card-plain">
                                    <div class="content">
                                            <h4 class="title">
                                                <a target="_blank" href="http://gsdk.creative-tim.com/">{user.company.webpage.customer_content_2}</a>
                                            </h4>

                                         <div class="footer">
                                            <div class="author">
                                                <a class="card-link" target="_blank" href="https://twitter.com/tudorvintilescu">
                                                   <img src="root/assets/img/default-avatar.png" alt="..." class="avatar">
                                                   <span> {user.company.webpage.customer_content_name_2} </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end card -->
                             </div>
                        </div> <!-- end row -->
                    </div>
                    <div class="item">
                      <div class="row">
                          <div class="col-md-6">
                                <div class="card card-plain">
                                    <div class="content">
                                        <a target="_blank" href="">
                                            <h4 class="title">{user.company.webpage.customer_content_3} </h4>
                                        </a>
                                         <div class="footer">
                                            <div class="author">
                                                <a class="card-link" target="_blank" href="http://www.awwwards.com/">
                                                   <img src="root/assets/img/default-avatar.png" alt="..." class="avatar">
                                                   <span> {user.company.webpage.customer_content_name_3} </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end card -->
                             </div>

                      </div>
                    </div>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#testimonials-carousel" data-slide="prev">
                    <span class="fa fa-angle-left"></span>
                  </a>
                  <a class="right carousel-control" href="#testimonials-carousel" data-slide="next">
                    <span class="fa fa-angle-right"></span>
                  </a>
            </div>
        </div>
    </div>

    <div class="mapo" style="width:100%;height:500px;" >
<!--           <div class="company-description">
               <h4>{user.company.name}</h4>
               <p>{user.company.address},{our.city}, {our.country}</p>
           </div> -->
            <div id="contactUsMap" class="big-map"></div>
    </div>

    <div class="section">
           <div class="container">
               <h2 class="section-title" id="{user.company.webpage.menu_4}">{user.company.webpage.contact_title_1}</h2>
               <div class="row">
                   <div class="col-md-6">
                       <p>
                           {user.company.webpage.contact_subtitle_1}<br><br>
                        </p>
                        <form role="form" id="contact-form" method="post">
    						<div class="form-group">
    				    		<label for="name">Nombre</label>
    				    		<input type="text" name="name" class="form-control" id="name" placeholder="First Name and Last Name"/>
    				  		</div>
    				  		<div class="form-group">
    				    		<label for="email">Email</label>
    				    		<input type="email" name="email" class="form-control" id="email" placeholder="Your personal email address"/>
    				  		</div>
    				  		<div class="form-group">
    				    		<label for="phone">Teléfono</label>
    				    		<input type="text" name="phone" class="form-control" id="phone" placeholder="Phone number"/>
    				  		</div>
    				  		<div class="form-group">
    				    		<label for="message">Mensaje</label>
    				    		<textarea name="message" class="form-control" id="message" rows="6"></textarea>
    				  		</div>
    				  		<div class="submit">
    				  			<input type="submit" class="btn btn-info btn-fill" value="Contacto" />
    				  		</div><br>
    					</form>
                   </div>
                   <div class="col-md-4 col-md-offset-2">
                        <div class="contact-info">
                            <h5><i class="fa fa-building text-muted"></i>Nuestra Empresa</h5>
                            <p class="text-muted"> {user.company.name}<br>
                            {user.company.address}<br>
                                {our.city}<br>
                                {our.country} 
                            </p><br>
                            <h5><i class="fa fa-phone text-muted"></i> Teléfono</h5>
                            <p class="text-muted"> {user.company.telephone}<br>
                            </p><br>
                        </div>
                   </div>
               </div>
           </div>
    </div><!-- section -->
    <div class="space-50"></div>
    
    <footer class="footer footer-big footer-black">
        <!-- .footer-black is another class for the footer, for the transparent version, we recommend you to change the url of the image with your favourite image.          -->
        
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h5 class="title">{user.company.name}</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#" >
                                    {user.company.webpage.menu_1}
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   {user.company.webpage.menu_2}
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    {user.company.webpage.menu_3}
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                   {user.company.webpage.menu_4}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3">
                    <h5 class="title">Síguenos</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="#" class="btn btn-social btn-facebook btn-simple">
                                    <i class="fa fa-facebook-square"></i> Facebook
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
            <hr />
            <div class="copyright">
                {user.company.webpage.about_content_1}
                {user.company.webpage.about_title_1}
                &copy; 2017 - {user.company.name}
            </div>
        </div>
    </footer>    
    
	</div> <!-- wrapper --> 
    </div>
	</body>

   <!--  jQuery and Bootstrap core files    -->
    <script src="root/assets/js/jquery.js" type="text/javascript"></script>
    <script src="root/assets/js/jquery-ui.custom.min.js" type="text/javascript"></script>
    <script src="root/assets/css/bootstrap3/js/bootstrap.min.js" type="text/javascript"></script>

    <!--  Plugins -->
    <script src="root/assets/js/video.js"></script>
    <script src="root/assets/js/gsdk-checkbox.js"></script>
    <script src="root/assets/js/gsdk-morphing.js"></script>
    <script src="root/assets/js/gsdk-radio.js"></script>
    <script src="root/assets/js/gsdk-bootstrapswitch.js"></script>
    <script src="root/assets/js/bootstrap-select.js"></script>
    <script src="root/assets/js/bootstrap-datepicker.js"></script>
    <script src="root/assets/js/chartist.min.js"></script>
    <script src="root/assets/js/jquery.tagsinput.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY5nmknFeEdaaJanRKpax0WPFCc6k35BI
"></script>

    <!--  Get Shit Done Kit PRO Core javascript      -->
    <script src="root/assets/js/get-shit-done.js"></script>
    <script type="text/javascript">
    {our.js}
    </script>
    
</html>
