
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> <% company_name %> - Servicios contables profesionales </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="route/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="route/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="route/css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="route/css/superfish.css">

	<link rel="stylesheet" href="route/css/style.css">


	<!-- Modernizr JS -->
	<script src="route/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<div id="fh5co-header">
			<div class="top">
				<div class="container">
					<span> <a href="#"><i>@</i> <% email %></a></span>
					<span> <a href="tel://<?telephone?>"><i class="icon-mobile3"></i> <% telephone %></a></span>
				</div>
			</div>
			<!-- end:top -->
			<header id="fh5co-header-section">
				<div class="container">
					<div class="nav-header">
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
						<h1 id="fh5co-logo"><a href="index.html"> <% company %> </a></h1>
						<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li class="active">
								<a href="index.html">Inicio</a>
							</li>
							<li>
								<a href="">print os.path.realpath(__file__)</a>
							</li>
							<li>
								<a href="" class="fh5co-sub-ddown">Servicios</a>
								 <ul class="fh5co-sub-menu">
								 	<li><a href="left-sidebar.html">Presentación de impuestos</a></li>
								 	<li><a href="right-sidebar.html">Rentas</a></li>
									<li>
										<a href="#" class="fh5co-sub-ddown">Auditoría</a>
										<ul class="fh5co-sub-menu">
											<li><a href="" target="_blank">Build</a></li>
											<li><a href="" target="_blank">Work</a></li>
											<li><a href="" target="_blank">Light</a></li>
											<li><a href="" target="_blank">Relic</a></li>
											<li><a href="" target="_blank">Display</a></li>
											<li><a href="" target="_blank">Sprint</a></li>
										</ul>
									</li>
									<li><a href="#">Contacto</a></li> 
								</ul>
							</li>
							<!--
							<li><a href="about.html">Sobre nosotros</a></li>
							<li><a href="#">Blog</a></li>
							-->
							<li><a href="contact.html">Contacto</a></li>
						</ul>
					</nav>
					</div>
				</div>
			</header>			
		</div>
		

		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" style="background-image: url(route/images/work-1.jpg);">
				<div class="desc animate-box">
					<h2><% company %> Contadores</h2>
					<span>Implementa mejores pŕácticas impositivas y contables <a href="http://frehtml5.co/" target="_blank" class="fh5co-site-name">para tu empresa</a></span>
					<span><a class="btn btn-primary" href="#">Contacto</a></span>
				</div>
			</div>

		</div>

		<!-- fh5co-work-section -->
		<div id="fh5co-services-section" class="border-bottom">
			<div class="container">
				
<!--
				<div class="row">
					<div class="col-md-3 animate-box">
						<h3 class="heading-section">What We Do</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and </p>
					</div>
-->

					<div class="col-md-12 col-sm-12">

						<div class="row">

						<div class="title text-center"> <h1> Nuestra propuesta profesional <h1> </div> <br><br>

							<div class="col-md-3 col-sm-3">
								<div class="services animate-box">
									<span><i class="icon-browser"></i></span>
									<h3>Servicio contables</h3>
									<p> Manejo de la información en un sistema contable organizado, a su disposición.</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="services animate-box">
									<span><i class="icon-mobile"></i></span>
									<h3>Servicios tributarios</h3>
									<p>Gestión de completa de cálculo y liquidación de impuestos aplicables a su activiadad. </p>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="services animate-box">
									<span><i class="icon-video"></i></span>
									<h3>Servicios laborales</h3>
									<p>Asesoría permanente sobre reglamentación vigente.</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="services animate-box">
									<span><i class="icon-tools"></i></span>
									<h3>Planificación tributaria</h3>
									<p>Revisión de las normativas aplicadas por su empresa y presentación de propuesta hecha a medida </p>
								</div>
							</div>
<!--
							<div class="col-md-4 col-sm-4">
								<div class="services animate-box">
									<span><i class="icon-search"></i></span>
									<h3>SEO Ranking</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="services animate-box">
									<span><i class="icon-cloud"></i></span>
									<h3>Cloud Based Apps</h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- fh5co-services-section -->
		<div id="fh5co-content-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="fh5co-testimonial text-center animate-box">
							<h2>What Others Think</h2>
							<figure>
								<img src="route/images/user-1.jpg" alt="user">
							</figure>
							<blockquote>
								<p>“Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn’t really do it, they just saw something. It seemed obvious to them after a while.”</p>
							</blockquote>
							<span>Steve Jobs, Apple Inc.</span>
						</div>
					</div> 
					<!--
					<div class="col-md-6 col-sm-6">
						<div class="fh5co-about-us animate-box">
							<h2 class="text-center">About Us</h2>
							<img src="images/about-image.jpg" alt="About Us">
							<p>Far far away, behind the word mountains, far f`rom the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. <br><a href="#">Know More About Us</a></p>
						</div>
					</div>
					-->
				</div>
			</div>
		</div>

		<div id="fh5co-contact" class="animate-box">

			<div class="container">
				<form action="#">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" value="Send Message" class="btn btn-primary">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		<!-- FOOTER AZUL fh5co-content-section

		<div id="fh5co-blog-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-12 animate-box">
						<h3 class="heading-section">Latest from Blog</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and </p>
					</div>
					<div class="col-lg-9 col-sm-12">
						<div class="row">
							<div class="col-lg-4 col-md-4">
								<div class="fh5co-blog animate-box" style="background-image: url(images/blog-1.jpg);">
									<a class="image-popup" href="#">
										<div class="prod-title">
											<span>Illustration</span>
											<h3>45 Minimal Worksspace Rooms for Web Savvys</h3>
											<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
										</div>
									</a> 
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="fh5co-blog animate-box" style="background-image: url(images/blog-2.jpg);">
									<a class="image-popup" href="#">
										<div class="prod-title">
											<span>Illustration</span>
											<h3>Don’t Just Stand There</h3>
											<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
										</div>
									</a> 
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="fh5co-blog animate-box" style="background-image: url(images/blog-3.jpg);">
									<a class="image-popup" href="#">
										<div class="prod-title">
											<span>Illustration</span>
											<h3>Don’t Just Stand There</h3>
											<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- fh5co-blog-section -->
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p> <% company_name %>  Copyright 2016 <a href="#"> </a> <br> <% address %> <a href="http://freehtml5.co/"></a></p>
						</div>
						<div class="col-md-6">
							<ul class="footer-menu">
								<li><a href="#">Inicio</a></li>
								<li><a href="#">Propuesta</a></li>
								<li><a href="#">Servicios</a></li>
								<li><a href="#">Sobre Nosotros</a></li>
								<li><a href="#">Contacto</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="route/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="route/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="route/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="route/js/jquery.waypoints.min.js"></script>
	<!-- Superfish -->
	<script src="route/js/hoverIntent.js"></script>
	<script src="route/js/superfish.js"></script>

	<!-- Main JS (Do not remove) -->
	<script src="route/js/main.js"></script>

	</body>
</html>

